<div class="panel-default">
    <style>
        
        b.TextoCreacion{
            
            font-size: 16px;
            margin-left: 60px;
        }
        input.Crear{
            margin-left: 60px;
        }
        input.ng-invalid{
            
            background-color: lightsalmon;
        }
        input.ng-valid{
            
            background-color: lightgreen;
        }
        
    </style>
    <div class="panel-body">
        <div class="row">
            <h2 style="text-align: center;">
                Registrar Vivienda<br>
            </h2>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <form name="formaCrearV" ng-submit="crear()">
                <b class="TextoCreacion">Ciudad:</b><br>
                <input class="Crear" name="ciudad" type="text" required ng-model="vivienda.ciudad"><br><br>
                <b class="TextoCreacion">Direccion:</b><br>
                <input class="Crear" name="direccion" type="text" required ng-model="vivienda.direccion"><br><br>
                <b class="TextoCreacion">Ruta de la imagen</b><br>
                <input class="Crear" name="rutaImagen" type="text" required ng-model="vivienda.rutaImagen"><br><br>
                <input class="Crear center-block" type="submit" value="Registrar" style="font-size: 16px;">
                </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>