<div class="container-fluid">
    <div class="thumbnail">
    <div class="row">
        <div class="col-md-1">
            <b style="text-align: center">Filtrar: </b>
        </div>
            <div class="col-md-9">
                <form name="formaFiltrrar" ng-submit="filtrar()">
                     <b style="color: #1b6d85">Ciudad:  </b>
                     <input type="text" name="ciudad" ng-model="vivienda.ciudad">
                     <a ui-sref="viviendaFiltrar({viviendaCiudad: vivienda.ciudad})">
                          <input type="submit" value="Filtrar">
                     </a>
                </form>
            </div>
        <div class="col-md-2">
            <a ui-sref="createVivienda">
            <dd>Registrar vivienda</dd><br>
            </a>
        </div>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-2" ng-repeat="vivienda in viviendasRecords">
            <div class="thumbnail">
                <style scoped>
                    img{
                        width: 300px; border-right: 0; margin-right: 0; height: 300px; max-height: 300px; min-height: 300px; 
                    }
                </style>
                <a ui-sref="viviendaDetail({viviendaId: vivienda.id})">                    
                    <img class="img-responsive" ng-src='{{vivienda.rutaImagen}}' alt="{{vivienda.ciudad}}" />                  
                </a>
                <div class="caption text-center">
                    <p>{{vivienda.direccion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
