
<!-- Autor: Santaigo Cortés Fernández -->
<div class="panel panel-default" style="border-color: #d1eeff;">
    
    <div class="panel-body">

        <div class="row">

            <h2 id="loginID9">Iniciar Sesión <br></h2>

            <p id="loginID10">
                ¡Bienvenido Usuario! ¡Estás a punto de acceder a la pagina de reserva de habitaciones mas grande de la
                clase de Desarrollo de Software en Equipo!<br>
                A continuación, ingresa tus datos de acceso a nuestro sistema. <br>
                Con ello podrás empezar a buscar y a disfrutar de los diversos beneficios que Habitaciones Uniandes trae para ti
            </p>
            <div class="row">
                <p id="errorLogin" class="text-center">
                    
                </p>
            </div>
            <hr>
            
            <img id="loginID7" src="https://upload.wikimedia.org/wikipedia/commons/3/39/NYC_Top_of_the_Rock_Pano.jpg" alt="login Usuario!">
            
            <div class="text-center" >

                <form id="loginID11" name="formaLogin"  novalidate ng-submit="login()">

                    <div id="loginID1" class=" thumbnail col-md-4">

                        <h2 id="loginID2">Informacion de Cuenta</h2>
                        
                        <div id="radioLogin" class="text-center">
                            
                            <input type="radio" name="saberViajero" ng-model='usuario.tipo' value="1"> viajero
                            <input type="radio" name="saberAnfitrion" ng-model='usuario.tipo' value="2"> anfitrion
                            
                        </div>
                        
                        <br>
                        <div id="loginID3" class="input-group">
                            <span id="loginID4" class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="email" class="form-control usuariosLogin" name="email" placeholder="Email" ng-model='usuario.correo' required>
                        </div>
                        
                        <br>
                        
                        <div id="loginID5" class="input-group">
                            <span id="loginID6" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control usuariosLogin" name="password" placeholder="Password" ng-model='usuario.contrasena' required>
                        </div>
                        
                        <br>
                        
                        <input id="loginID8" type="submit" value="Ingresar">

                        <br>
                        
                    </div>

                </form>

            </div>
            
        </div>
        
    </div>
</div>