<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentHabitacion.rutaImagen}}"/>
                </div>
            </div>
            <div class="col-md-3">
                <dl>     
                    <dt>{{currentHabitacion.name}}</dt>
                    <ul ng-repeat="disponibilidades in currentHabitacion.disponibilidades">
                        <li>{{disponibilidades.fechaInicioEstadia}}</li>
                    </ul>
                    <dt> Área</dt>
                    <dd>{{currentHabitacion.area}}</dd>
                    <hr>
                    <dt>Capacidad</dt>
                    <dd>{{currentHabitacion.capacidad}}</dd>
                    <hr>
                    <dt class="bold">Valor Alquiler</dt>
                    <dd>{{currentHabitacion.valorAlquiler}}</dd>
                    <hr>
                    <dt class="bold">Descripción</dt>
                    <dd>{{currentHabitacion.descripcion}}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-md-6">
                            <dt style="font-size: 20px "> Disponibilidades    </dt>
                            <ul ng-repeat="disponibilidad in currentHabitacion.disponibilidades">
                                <dt>Disponibilidad: {{disponibilidad.id}}</dt>
                                <dd>Fecha inicio estadía: {{disponibilidad.fechaInicioEstadia}}</dd>
                                <dd>Fecha terminación estadía: {{vivienda.fechaTerminacionEstadia}}</dd>
                            </ul> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>