<div class="panel-default">
    <style>

        b.TextoCreacion{

            font-size: 16px;
            margin-left: 60px;
        }
        input.Crear{
            margin-left: 60px;
        }
        input.ng-invalid{

            background-color: lightsalmon;
        }
        input.ng-valid{

            background-color: lightgreen;
        }

    </style>
    <div class="panel-body">
        <div class="row">
            <h2 style="text-align: center;">
                Registrar Habitaci&oacute;n<br>
            </h2>

            
                    <form name="formaCrearH" ng-submit="crear()">
                        <fieldset>
                            <b class="TextoCreacion">&Aacute;rea:</b><br>
                            <input class="Crear" name="area" type="number" size="10" min= "0" placeholder="m2" required ng-model="habitacion.area"><br><br>
                            <b class="TextoCreacion">Capacidad:</b><br>
                            <input class="Crear" name="capacidad" type="number" size="10" min="1" max="10" step="1"  required ng-model="habitacion.capacidad"><br><br>
                            <b class="TextoCreacion">Valor Alquiler:</b><br>
                            <input class="Crear" name="valorAlquiler" type="number" size="10" min="0" required ng-model="habitacion.valorAlquiler"><br><br>
                            <b class="TextoCreacion">Ruta Imagen:</b><br>
                            <input class="Crear" name="rutaImagen" type="text" size="100" required ng-model="habitacion.rutaImagen"><br><br>
                            
                            <b class="TextoCreacion">Descripci&oacute;n:</b><br>
                            <input class="Crear" name="descripcion" type="text" size="100" required ng-model="habitacion.descripcion"><br><br>
                            <input class="Crear center-block" type="submit" value="Registrar" style="font-size: 16px;">
                        </fieldset>
                    </form>
          

        </div>
    </div>
</div>