<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentHabitacion.rutaImagen}}"/>
                </div>
                <p>
                </p>

                <li><a ui-sref="updateHabitacion"><span class="glyphicon glyphicon-pencil"></span><b>Actualizar Informaci&oacute;n</b></a></li>

                <p>
                </p>


                <li><button class="btn" style="background-color: white; margin-top: 8px;" ng-click="delete()"><span class="glyphicon glyphicon-remove" style="color: #d43f3a"></span><b style="color: #d43f3a">Eliminar Habitaci&oacute;n</b></button></li>


            </div>
            <div class="col-md-3">
                <dl>     
                    <dt style="font-size: 20px"> Habitacion </dt>
                    <hr>
                    <dt> Área</dt>
                    <dd>{{currentHabitacion.area}}</dd>
                    <hr>
                    <dt>Capacidad</dt>
                    <dd>{{currentHabitacion.capacidad}}</dd>
                    <hr>
                    <dt class="bold">Valor Alquiler</dt>
                    <dd>{{currentHabitacion.valorAlquiler}}</dd>
                    <hr>
                    <dt class="bold">Descripción</dt>
                    <dd>{{currentHabitacion.descripcion}}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-md-6">
                            <dt style="font-size: 20px "> Disponibilidades    </dt>
                            <hr>
                            <ul ng-repeat="disponibilidad in currentHabitacion.disponibilidades">

                                <dt>Disponibilidad: {{disponibilidad.id}}</dt>
                                </a>
                                <dd>Fecha inicio estadía: {{disponibilidad.fechaInicioEstadia}}</dd>
                                <dd>Fecha terminación estadía: {{disponibilidad.fechaTerminacionEstadia}}</dd>
                            </ul> 


                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-md-6">
                            <dt style="font-size: 20px "> Reservas    </dt>
                            <ul ng-repeat="reserva in currentHabitacion.reservas">
                                <a ui-sref="reservaDetail({reservaId: reserva.id})" >
                                    <dt>Reserva: {{reserva.id}}</dt>
                                </a>
                                <dd>Precio: {{reserva.precio}}</dd>
                                <dd>Fecha inicio estadía: {{reserva.fechaInicioEstadia}}</dd>
                                <dd>Fecha terminación estadía: {{reserva.fechaTerminacionEstadia}}</dd>
                            </ul> 

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-md-6">
                            <dt style="font-size: 20px "> Reseñas    </dt>
                            <ul ng-repeat="resena in recordsResenas">
                                <a ui-sref="resenaDetailHabitacion({resenaId: resena.id})" >
                                    <dt>Resena: {{resena.id}}</dt>
                                </a>
                                <dd>Calificación: {{resena.calificacion}}</dd>
                                <dd>Comentario: {{resena.comentario}}</dd>
                            </ul> 

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-md-6">
                            <dt style="font-size: 20px "> Vivienda    </dt>
                            <ul ng-repeat="vivienda in currentHabitacion.vivienda">
                                <a ui-sref="viviendaDetail({viviendaId: vivienda.id})" >
                                    <dt>Vivienda: {{vivienda.id}}</dt>
                                </a>
                                <dd>Ciudad: {{vivienda.ciudad}}</dd>
                                <dd>Dirección: {{vivienda.direccion}}</dd>
                            </ul> 

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>