<div class="panel panel-default" style="border-color: #d1eeff;">

    <div class="panel-body">

        <div class="row">

            <h2 id="idSingV7">Sign Up Viajero<br></h2>

            <p id="idSingV8">
                ¡Bienvenido Viajero! ¡Estás a punto de registrar en la pagina de reserva de habitaciones mas grande de la
                clase de Desarrollo de Software en Equipo!<br>
                A continuación, deberás ingresar algunos datos personales que son indispensables para la creacion de tu nueva cuenta. <br>
                Con ello, podrás empezar a buscar y a disfrutar de los diversos beneficios que Habitaciones Uniandes trae para ti
            </p>
            <br>
            <hr>
            
            <img id="idSingV1" src="https://upload.wikimedia.org/wikipedia/commons/3/39/NYC_Top_of_the_Rock_Pano.jpg" alt="SignUp Viajero!">

            <div class="text-left">

                <form name="formaCreateV"  novalidate ng-submit="signup()">

                    <div class="col-md-1">

                        <!-- ALGO -->

                    </div>

                    <div id="idSingV2" class=" thumbnail col-md-5">

                        <h3 id="idSingV3">Información Personal</h3><br>

                        <input class="form-control usuarios" name="nombre" type="text" placeholder="Nombre Completo" ng-model='viajero.nombre'required><br><br>

                        <input class="form-control usuarios" name="tipoDocumento" type="text" placeholder="Tipo Documento" ng-model='viajero.tipoDocumento'required><br><br>

                        <input class="form-control usuarios" name="numeroDocumento" type="text" placeholder="Numero Documento" ng-model='viajero.numeroDocumento'required><br><br>

                        <input class="form-control usuarios" name="direccion" type="text" placeholder="Dirección" ng-model='viajero.direccion'required><br><br>

                        <input class="form-control usuarios" name="telefono" type="text" placeholder="Telefono" ng-model='viajero.telefono'required><br><br>

                    </div>
                    
                    
                    <div id="idSingV4" class=" thumbnail col-md-4">

                        <h2 id="idSingV5">Información de Cuenta</h2><br>

                        <input id="email" type="email" class="form-control Creacion" name="email" placeholder="Email" ng-model='viajero.correoElectronico' placeholder="Correo Electronico" required><br>

                        <input class="form-control usuarios" type="password" name="contrasena" ng-model='viajero.contrasena' placeholder="Contraseña" required><br>

                        <input class="form-control usuarios" type="password" name="contrasenaV2" id="vcont2" ng-model='usuario.segundaContrasena'  placeholder="Repetir Contraseña" required ><br>
                        
                        <input id="idSingV6" class="center-block" type="submit" value="Sign Up">

                    </div>

                    <div class="col-md-1">

                        <!-- ALGO -->

                    </div>

                </form>

            </div>
        </div>    
    </div>
</div>