<div class="panel panel-default" style="border-color: #d1eeff;">

    <div class="panel-body">

        <div class="row">


            
            

            <div class="text-left">

                <form name="formaCreateR"  novalidate ng-submit="signup()">

                    <div class="col-md-1">

                        <!-- ALGO -->

                    </div>
                    <center>
                    <div id="idSingV2" class=" thumbnail col-md-5">

                        <h2 id="idSingV3">Crear reserva</h2><br>
                         <h5 id="idSingV3">cancelado ponga 0 o 1</h5><br>
                        <input class="form-control usuarios" name="cancelado" type="text" placeholder="false or true" ng-model='reserva.cancelado'required><br>
                         <h5 id="idSingV3">Fecha inicio dd/mm/yyyy</h5><br>
                         <input class="form-control usuarios" name="FechaInicio" type="text" placeholder="Fecha: dd/mm/yyyy" ng-model='reserva.fechaInicioEstadia'required><br>
                        <h5 id="idSingV3">Fecha final dd/mm/yyyy</h5><br>
                        <input class="form-control usuarios" name="FechaFinal" type="text" placeholder="Fecha: dd/mm/yyyy" ng-model='reserva.fechaTerminacionEstadia'required><br>
                        <h5 id="idSingV3">precio</h5><br>
                        <input class="form-control usuarios" name="precio" type="text" placeholder="Precio" ng-model='reserva.precio'required><br>
                       <input id="idSingV6" class="center-block" type="submit" value="Create"> 

                    </div>
                    </center>
                  

                </form>

            </div>
        </div>    
    </div>
</div>