<div class="panel panel-default" style=" margin-left: 20px; width: 95%;">
    
    <style>
        
        input.ActualizacionResena.ng-invalid{

            background-color: lightsalmon;
        }
        input.ActualizacionResena.ng-valid{

            background-color: lightgreen;
        }
    </style>
    
    <div class="panel-body" >
        
        <div class="row">
            
            <h3 style="text-align: center;">Editar Resena <br></h3>

            <p style="text-align: center; font-size: 14px; text-align: center;">
                Por favor, ingrese los nuevos datos que desea modificar.<br>
                Recuerde que es necesario de la resena tenga una calificacion.
            </p>
            <hr>
            
        </div>
        
        <form>
            
            <h4> Calificacion:</h4>
            
            <div class="col-md-2">
                
                
            </div>
            <div class="col-md-2">
                <input type="radio" name="updateCalificacion" ng-model='currentResena.calificacion' value="1">  1 estrella
            </div>
            <div class="col-md-2">
                <input type="radio" name="updateCalificacion" ng-model='currentResena.calificacion' value="2">  2 estrellas
            </div>
            <div class="col-md-2">
                <input type="radio" name="updateCalificacion" ng-model='currentResena.calificacion' value="3">  3 estrellas
            </div>
            <div class="col-md-2">
                <input type="radio" name="updateCalificacion" ng-model='currentResena.calificacion' value="4">  4 estrellas
            </div>
            <div class="col-md-2">
                <input type="radio" name="updateCalificacion" ng-model='currentResena.calificacion' value="5">  5 estrellas
            </div>

            <br><br>
            
            <h4> Comentario: </h4>
            <textarea name="updateComentario" rows="10" cols="70" ng-model='currentResena.comentario' style="text-align: center"></textarea>
            
            <hr>
            
            <input class="center-block" type="submit" value="Guardar Modificaciones">
            
        </form>
        
    </div>
    
</div>