<div class="panel panel-default" style=" margin-left: 20px; width: 95%;">

    <style>

        input.ActualizacionResena.ng-invalid{

            background-color: lightsalmon;
        }
        input.ActualizacionResena.ng-valid{

            background-color: lightgreen;
        }
    </style>

    <div class="panel-body" >

        <div class="row">

            <h3 style="text-align: center;">Escribir Resena <br></h3>

            <p style="text-align: center; font-size: 14px; text-align: center;">
                Por favor, ingrese los datos que se muestran a continuación<br>
                Recuerde que es necesario de la resena tenga una calificacion.
            </p>
            <hr>

        </div>
        
        <div class="row text-center">
            
            <p id="errorCreateResena">
                
                
            </p>
            
        </div>
            
        <div class="text-center">
            <button class="btn star" id="star1" ng-mouseover="overStar(1)" ng-mouseleave="leaveStar(1)"
                    ng-click="setDefaultStar(1)">
                ★
            </button>
            <button class="btn star" id="star2" ng-mouseover="overStar(2)" ng-mouseleave="leaveStar(2)"
                    ng-click="setDefaultStar(2)">
                ★
            </button>
            <button class="btn star" id="star3" ng-mouseover="overStar(3)" ng-mouseleave="leaveStar(3)"
                    ng-click="setDefaultStar(3)">
                ★
            </button>
            <button class="btn star" id="star4" ng-mouseover="overStar(4)" ng-mouseleave="leaveStar(4)"
                    ng-click="setDefaultStar(4)">
                ★
            </button>
            <button class="btn star" id="star5" ng-mouseover="overStar(5)" ng-mouseleave="leaveStar(5)"
                    ng-click="setDefaultStar(5)">
                ★
            </button>
        </div>
            

        <form name="formaCreateV"  novalidate >

            <br><br>

            <h4> Comentario: </h4>
            <textarea name="updateComentario" rows="10" cols="130" ng-model='resena.comentario' style="text-align: center; border-radius: 5px;"></textarea>

            <hr>

            <button class="actVButton center-block" type="button" ng-click="crearResena()"> Publicar Resena </button>

        </form>

    </div>

</div>