<div class="panel panel-default plantillaUsu" style=" margin-left: 20px; width: 95%;">

    <div class="panel-body plantillaUsu" >

        <div class="plantillaUsu">

            <h3 style="text-align: center;">Editar Resena <br></h3>

            <p style="text-align: center; font-size: 14px; text-align: center;">
                Por favor, ingrese los nuevos datos que desea modificar.<br>
                Recuerde que es necesario de la resena tenga una calificacion.
            </p>
            <hr>

        </div>

        <form name="formaCreateV"  novalidate >

            <h4> Calificacion:</h4>

            <div class="text-center">
                <button class="btn star" id="star1" ng-mouseover="overStar(1)" ng-mouseleave="leaveStar(1)"
                        ng-click="setDefaultStar(1)">
                    ★
                </button>
                <button class="btn star" id="star2" ng-mouseover="overStar(2)" ng-mouseleave="leaveStar(2)"
                        ng-click="setDefaultStar(2)">
                    ★
                </button>
                <button class="btn star" id="star3" ng-mouseover="overStar(3)" ng-mouseleave="leaveStar(3)"
                        ng-click="setDefaultStar(3)">
                    ★
                </button>
                <button class="btn star" id="star4" ng-mouseover="overStar(4)" ng-mouseleave="leaveStar(4)"
                        ng-click="setDefaultStar(4)">
                    ★
                </button>
                <button class="btn star" id="star5" ng-mouseover="overStar(5)" ng-mouseleave="leaveStar(5)"
                        ng-click="setDefaultStar(5)">
                    ★
                </button>
            </div>

            <br><br>
            
            <h4> Comentario: </h4>
            <textarea name="updateComentario" rows="10" cols="70" ng-model='currentResena.comentario' style="text-align: center; border-radius: 10px;"></textarea>

            <hr>

            <button class="actVButton center-block" type="button" ng-click="updateResena()"> Guardar </button>

        </form>

    </div>

</div>