<div class="panel panel-default listaViajeroReserva" >
    
    <div class="panel-body" >
        
        <div class = "row listaViajeroReservaFiltro" style="border-bottom-color: black">
            
            <div id="labelFiltro" class="col-sm-2 col-md-2 text-center"> <b>Filtrar por: </b></div>
            <div class="col-sm-10 col-md-10"> 
                <form name="formaCreateV">
                    Minimo: 
                    <select class="selectFR" id="listVRMin" name="numMinEstrellas">
                        <option value="1">1 estrella</option>
                        <option value="2">2 estrellas</option>
                        <option value="3">3 estrellas</option>
                        <option value="4">4 estrellas</option>
                        <option value="5">5 estrellas</option>
                    </select>
                     Maximo:
                    <select class="selectFR" id="listVRMax" name="numMaxEstrellas">
                        <option value="5">5 estrellas</option>
                        <option value="4">4 estrellas</option>
                        <option value="3">3 estrellas</option>
                        <option value="2">2 estrellas</option>
                        <option value="1">1 estrella</option>
                    </select>
                    
                     <button id="btnFiltroResenas" ng-click="filtrar()"> Filtrar </button>
                    
                </form>

            </div>
            
            <br>
            
        </div>
        
        <div class = "listaViajeroReserva" style="margin-top: 10px;">
            
            <div class="col-sm-3 col-md-3" ng-repeat="resena in RecordsResena">
                <div class="thumbnail" >
                    
                    <dl>
                        <div class="thumbnail">
                            
                            <img style="max-height: 200px; min-height: 200px;" class="img-responsive" ng-src="{{resena.habitacion.rutaImagen}}" alt="{{resena.habitacion.rutaImagen}}"/>
                        
                        </div>

                        <dt>Calificacion</dt>
                        <dd style="color: rgb(185,133,36); font-size: 16px">{{resena.calificacion}} estrellas </dd>

                    </dl>
                    <div class="text-center">
                        <a ui-sref="resenaDetailViajero({resenaId: resena.id, viajeroId: currentViajero.idUsuario})">
                            <b class="center-block" style="color: lightblue;"> mas informacion</b>

                        </a>
                    </div>
                </div>
                
            </div>
        </div>
            
    </div>
        
</div>